/* Base styles */
@import url('base/_reset.css');
@import url('base/_typography.css');

/* Layout styles */
@import url('layout/_container.css');

/* Component styles */
@import url('components/_header.css');
@import url('components/_navigation.css');
@import url('components/_forms.css');
@import url('components/_modal.css');
@import url('components/_qr-reader.css');
@import url('components/_file-browser.css');

/* Media Query for mobile view */
@media (max-width: 600px) {
    .nav-links {
        display: none;
    }
    .menu-btn {
        display: block;
    }
    .header-content {
        justify-content: space-between;
    }
    .add-btn {
        color: #4CAF50;
    }
}

@media (min-width: 601px) {
    .menu-btn {
        display: none;
    }
}

/* Specific styles for Tags page */
#add-tag-btn {
    background: none; /* Remove background */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    width: auto; /* Auto width */
    height: auto; /* Auto height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#search-bar {
    flex-grow: 1;
    margin-right: 10px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
