/* Forms css */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.input-group {
    display: flex;
    align-items: center;
}

input[type="text"] {
    width: calc(100% - 40px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

button#qr-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

button#qr-btn img {
    height: 24px;
}

.image-preview {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

button#upload-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

button#upload-btn img {
    height: 40px;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

.discard-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.save-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
