/* Navigation css */
.nav-links {
    display: flex;
    align-items: center;
}

.nav-link {
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.add-btn {
    background-color: white;
    color: #4CAF50;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #4CAF50;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-nav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.side-nav .add-btn {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #4CAF50;
    display: block;
    transition: 0.3s;
    text-align: center;
    margin-top: 15px;
}

.side-nav a, .side-nav .add-btn {
    width: auto;
    margin: 0 auto;
}

.side-nav a:hover, .side-nav .add-btn:hover {
    color: black;
}

.close-menu-btn {
    position: absolute;
    top: 20px;
    left: 25px;
}
